@use '../../../../../config/colors';
@use '../../../../../config/layers';
@use '../../../../../config/breakpoints';


.filters {
    height: 100%;
    width: 190px;
    background: colors.$grey2;
    z-index: layers.$filters-index;
}

@media (min-width: breakpoints.$tablets) {
    .filters {
        width: 20%;
        max-width: 220px;
    }
}
