@use '../../../../../config/colors';
@use '../../../../../config/layers';
@use '../../../../../config/breakpoints';


.filters {
    height: 100%;
    width: 15%;
    min-width: 240px;
    background: colors.$grey-gradient;
    z-index: layers.$filters-index;
}
