/*BACKGROUND*/
$white1: #f7f7f7;
$grey1: #ededed;
$grey2: #cdcdcd;
$black: #1b1b1b;
$black1: #111;
$light-green: #5eb987;
$pink: #dd968e;

/*FONT (fc - font color)*/
$purple: #1c1caa;
$white-f: #fff;
$grey-f: #6c6c6c;
$green: #2d9129;
$red: #ae1b16;

//home background
$grey-gradient: linear-gradient(#6c6c6c, #cdcdcd);
$purple-gradient: linear-gradient(to right ,#646485, #1c1caa);
$purple-hover-gradient: linear-gradient(to right ,#757596, #2d2dbb);

