@use '../config/colors';
@use './fonts';
@use './../config/layers';
@use '../config/breakpoints';
.max-width-30 {
    max-width: 30%;
}

.max-width-100 {
    max-width: 100% !important;
}

.max-height-8 {
    max-height: 800% !important;
}

.right-0 {
    right: 0 !important;
}

.l-padding-0 {
    padding-left : 0 !important;
}

.margin-l-10 {
    margin-left: 10px;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.justify-left {
    justify-content: left;
}

.grid {
    display: grid;
}

.bold-500 {
    font-weight: 500;
}

.block {
    display: block;
}

.transition {
    transition: all 0.3s ease;
}

.none {
    display: none;
}

.win,
.green-bold {
    color: colors.$green !important;
    font-weight: 600;
}

.lost,
.red-bold {
    color: colors.$red !important;
    font-weight: 600;
}

.pending {
    color: colors.$grey-f !important;
}

.stake,
.gold-bold {
    color: colors.$gold;
    font-weight: 600;
}

.delay {
    font-weight: 600;
}

.teams {
    color: colors.$purple;
    font-weight: 600;
}

.grey-f {
    color: colors.$grey2;
}

.bet-delete-blink {
    animation: blinker 2s linear 0s 1;
}

.bet-add-blink {
    animation: blinker 2s linear 2s 1;
}

.betsbox-blink {
    animation: betsbox-blinker 2s ease 0s 1;
}

.sorted {
    color: colors.$purple !important;
}

.sort-span {
    background: colors.$purple-gradient !important;
    color: colors.$white-f !important;
    box-shadow: 0px 1px 2px colors.$purple !important;
}

.error-input {
    border: 1px solid colors.$red;
}

.error-text {
    text-align: center;
    color: colors.$red;
}

.purple-input {
    background: colors.$purple-hover-gradient;
    color: colors.$white-f;
}

.purple-input:hover {
    background: colors.$purple-hover-gradient;
}

.show-filters {
    transform: rotate(180deg) translateZ(0);
    transition: all 0.8s ease;
}

.hide-filters {
    transform: rotate(0deg) translateZ(0);
    transition: all 0.8s ease;
}

.result-span {
    font-size: fonts.$tiny;
    font-weight: 600;
    position: absolute;
    width: 70px;
    height: 22px;
    padding: 2px;
    top: 3px;
    left: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    color: colors.$white-f;
}

.result-win-helper,
.result-lost-helper,
.result-pending-helper {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 25px;
    left: -9px;
    overflow: hidden;
}

.result-win-helper::before,
.result-lost-helper::before,
.result-pending-helper::before {
    position: absolute;
    content: '';
    width: 150%;
    height: 6px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-win-helper::before {
    background: colors.$green;
}

.result-lost-helper::before {
    background: colors.$red;
}

.result-pending-helper::before {
    background: colors.$grey-f;
}

.result-lost-span {
    background: colors.$red;
}

.result-win-span {
    background: colors.$green;
}

.result-pending-span {
    background: colors.$grey-f;
}

.pop-up {
    font-size: fonts.$medium;
    font-family: fonts.$poppins;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 10;

    div {
        width: fit-content;
        margin: 0 auto;
        padding: 10px;
        border-radius: 5px;
        background: colors.$purple;
        color: colors.$white-f;
    }
}

@media (min-width: breakpoints.$tablets) {
    .pop-up {
        top: 80px;
    }
}