@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);
/*BACKGROUND*/
/*FONT (fc - font color)*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: "Lato", sans-serif;
}

html {
  font-size: 10px;
}

@media (max-width: 1050px) {
  html {
    font-size: 8px;
  }
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
@-webkit-keyframes betsbox-blinker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes betsbox-blinker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.max-width-30 {
  max-width: 30%;
}

.max-width-100 {
  max-width: 100% !important;
}

.max-height-8 {
  max-height: 800% !important;
}

.right-0 {
  right: 0 !important;
}

.l-padding-0 {
  padding-left: 0 !important;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.justify-left {
  justify-content: left;
}

.grid {
  display: grid;
}

.bold-500 {
  font-weight: 500;
}

.block {
  display: block;
}

.transition {
  transition: all 0.3s ease;
}

.none {
  display: none;
}

.win,
.green-bold {
  color: #396e50 !important;
  font-weight: 600;
}

.lost,
.red-bold {
  color: #cb1010 !important;
  font-weight: 600;
}

.pending {
  color: #6c6c6c !important;
}

.stake,
.gold-bold {
  color: #a38b00;
  font-weight: 600;
}

.delay {
  font-weight: 600;
}

.teams {
  color: #1c1caa;
  font-weight: 600;
}

.grey-f {
  color: #cdcdcd;
}

.bet-delete-blink {
  -webkit-animation: blinker 2s linear 0s 1;
          animation: blinker 2s linear 0s 1;
}

.bet-add-blink {
  -webkit-animation: blinker 2s linear 2s 1;
          animation: blinker 2s linear 2s 1;
}

.betsbox-blink {
  -webkit-animation: betsbox-blinker 2s ease 0s 1;
          animation: betsbox-blinker 2s ease 0s 1;
}

.sorted {
  color: #1c1caa !important;
}

.sort-span {
  background: linear-gradient(to right, #646485, #1c1caa) !important;
  color: #fff !important;
  box-shadow: 0px 1px 2px #1c1caa !important;
}

.error-input {
  border: 1px solid #cb1010;
}

.error-text {
  text-align: center;
  color: #cb1010;
}

.purple-input {
  background: linear-gradient(to right, #757596, #2d2dbb);
  color: #fff;
}

.purple-input:hover {
  background: linear-gradient(to right, #757596, #2d2dbb);
}

.show-filters {
  transform: rotate(180deg) translateZ(0);
  transition: all 0.8s ease;
}

.hide-filters {
  transform: rotate(0deg) translateZ(0);
  transition: all 0.8s ease;
}

.result-span {
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  width: 70px;
  height: 22px;
  padding: 2px;
  top: 3px;
  left: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.result-win-helper,
.result-lost-helper,
.result-pending-helper {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 25px;
  left: -9px;
  overflow: hidden;
}

.result-win-helper::before,
.result-lost-helper::before,
.result-pending-helper::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 6px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-win-helper::before {
  background: #396e50;
}

.result-lost-helper::before {
  background: #cb1010;
}

.result-pending-helper::before {
  background: #6c6c6c;
}

.result-lost-span {
  background: #cb1010;
}

.result-win-span {
  background: #396e50;
}

.result-pending-span {
  background: #6c6c6c;
}

.pop-up {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 10;
}
.pop-up div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background: #1c1caa;
  color: #fff;
}

@media (min-width: 1050px) {
  .pop-up {
    top: 80px;
  }
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

button, select, input {
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease;
}

.nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #1b1b1b;
  align-items: center;
  padding: 0 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
.nav ul {
  display: flex;
  align-items: center;
}
.nav ul i {
  padding-right: 10px;
}
.nav ul li {
  margin: 0 5px;
}
.nav ul a {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  border-radius: 5px;
}
.nav ul a:hover {
  color: #1b1b1b;
  background: #fff;
}

@media (max-width: 1050px) {
  .nav {
    height: 60px;
    padding: 0 20px;
  }
  .nav ul a:hover {
    color: #5eb987;
    background: none;
  }
}
@media (max-width: 700px) {
  .nav ul li {
    padding: 10px 0;
  }
}
.nav__label {
  color: #fff;
  cursor: pointer;
}
.nav__label i {
  font-size: 2rem;
}

.nav__logo {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-right: 20px;
}
.nav__logo a {
  color: #5eb987;
}

.nav__first-logo {
  text-decoration: underline;
}

.nav__seclogo {
  color: #fff;
  font-size: 2.4rem;
}

.nav__wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__avatar {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

#nav__singup-button {
  background: linear-gradient(to left, #5eb987, #396e50);
}

#nav__singup-button:hover {
  color: #fff;
}

.nav__logout-button {
  display: inline-block;
  color: #fff;
  padding: 6px 8px;
  background: #1b1b1b;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  letter-spacing: 1px;
}

.nav__logout-button:hover {
  color: #1b1b1b;
  background: #fff;
}

@media (max-width: 1050px) {
  .nav__logout-button {
    background: #111;
  }
}
@media (max-width: 1050px) and (min-width: 700px) {
  .nav__label--user {
    display: block;
    position: fixed;
    right: 20px;
  }

  .nav__right-nav {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    background: #111;
    text-align: right;
    display: none;
  }
  .nav__right-nav ul,
.nav__right-nav li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
  }

  #user-check:checked ~ .nav__right-nav {
    display: block;
  }

  #user-check:checked ~ .nav__label i:before {
    content: "\f00d";
  }
}
@media (max-width: 700px) and (min-width: 500px) {
  .nav__label--nav {
    display: block;
    position: absolute;
    right: 20px;
  }

  .nav__wrapper {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    background: #111;
    display: none;
  }

  #nav-check:checked ~ .nav__wrapper {
    display: flex;
  }

  #nav-check:checked ~ .nav__label i::before {
    content: "\f00d";
  }
}
@media (max-width: 500px) {
  .nav__left-nav {
    padding-left: 0;
  }

  .nav__label--nav {
    display: block;
    position: absolute;
    right: 20px;
  }

  .nav__wrapper {
    display: block;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100vh;
    background: #111;
    text-align: center;
    left: -100%;
    transition: all 0.3s ease;
  }
  .nav__wrapper ul {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .nav__logout-button {
    background: #111;
  }

  #nav-check:checked ~ .nav__wrapper {
    left: 0;
  }

  #nav-check:checked ~ .nav__label i::before {
    content: "\f00d";
  }
}
.nav-btn {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.nav-btn {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.main {
  font-family: "Lato", sans-serif;
  background: #f7f7f7;
}

.nav-box {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  height: 50px;
  font-size: 1.8rem;
  background: #f7f7f7;
  box-shadow: 0 2px 5px #cdcdcd;
  padding: 10px 0px;
  z-index: 4;
}

@media (max-width: 1050px) {
  .nav-box {
    top: 60px;
    height: 40px;
  }
}
.nav-box__box-wrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.nav-box__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.nav-box__timer,
.nav-box__counter {
  font-size: 1.8rem;
  padding-right: 10px;
}

.nav-box__message {
  font-size: 1.6rem;
  position: relative;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-box__message i {
  margin-top: 1px;
  font-size: 2.7rem;
}
.nav-box__message .fa-check {
  color: #396e50;
}
.nav-box__message .fa-xmark {
  color: #cb1010;
}

.nav-box__message:hover {
  cursor: pointer;
}

.nav-box__message-text {
  position: absolute;
  padding: 5px;
  width: 100px;
  top: 30px;
  text-align: center;
  background: #1c1caa;
  color: #fff;
  border-radius: 5px;
}

.nav-box__message-text::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  top: -5px;
  left: 43px;
  transform: rotate(45deg);
  background: inherit;
}

.nav-box__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-box__filters-icon {
  font-size: 2.2rem;
  display: block;
}

@media (min-width: 1050px) {
  .nav-box__box-wrapper {
    max-width: calc(100% - 200px);
    width: 87%;
  }

  .nav-box__box {
    padding-left: 75px;
  }
}
@media (min-width: 500px) {
  .nav-box__filters-icon {
    display: none;
  }

  .nav-box__box {
    justify-content: flex-start;
  }

  .nav-box__message {
    padding-left: 0;
  }
}
.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.pagination__nav {
  font-size: 2rem;
  padding-right: 10px;
}

.pagination__nav:hover {
  cursor: pointer;
}

.pagination__nav-angle {
  display: inline-block;
  padding: 0 10px;
}

.pagination__nav-current {
  display: inline-block;
  background: #cdcdcd;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination__results-counter-text {
  padding-right: 5px;
}

.pagination__results-counter {
  display: inline-block;
  position: relative;
  padding: 5px 0;
  width: 60px;
  text-align: center;
  box-shadow: 0px 1px 5px -2px #1b1b1b;
  border-radius: 5px;
}

.pagination__results-counter:hover {
  cursor: pointer;
}

.pagination__counter-list {
  position: absolute;
  left: 0;
  margin-top: 6px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.pagination__counter-option {
  display: block;
  background: #f7f7f7;
  width: 60px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 2px 5px #1b1b1b;
}

.main-table__table {
  background: #ededed;
  width: 100%;
  overflow: auto;
  text-align: center;
  border-radius: 10px;
  font-size: 1.6rem;
}
.main-table__table a {
  color: #1c1caa;
}
.main-table__table a:hover {
  text-decoration: underline;
}

.main-table__nav {
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background: #1b1b1b;
  color: #fff;
  border-radius: 5px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  z-index: 2;
}

.main-table__nav-info {
  font-size: 2.4rem;
}

.main-table__nav-info:hover ~ .main-table__nav-info-list,
.main-table__nav-info:active ~ .main-table__nav-info-list {
  display: flex;
}

.main-table__nav-left {
  font-size: 1.4rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-table__nav-left span {
  padding-right: 10px;
}

.main-table__nav-info-list {
  width: 150px;
  position: absolute;
  display: none;
  flex-direction: column;
  background: #1c1caa;
  left: 30px;
  padding: 5px;
  border-radius: 5px;
}
.main-table__nav-info-list span {
  padding: 2px 0;
}

.main-table__nav-info-list::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  top: 10px;
  left: -5px;
  transform: rotate(45deg);
  background: inherit;
  z-index: -1;
}

.main-table__nav-right {
  width: calc(25% - 27px);
  font-size: 2rem;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-table__wrapper {
  width: 100%;
  height: 100%;
  background: #ededed;
  box-shadow: 0 5px 5px #6c6c6c;
}

.main-table__bets {
  height: calc(100% - 50px);
  overflow: auto;
}

.main-table__bet-wrapper {
  padding: 15px 10px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px #1b1b1b;
}

.main-table__inputs {
  margin: 0 5px;
  min-width: calc(25% - 12px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-table__input {
  background: none;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  color: #fff;
  font-size: 2.8rem;
}

.main-table__input:hover {
  cursor: pointer;
}

.main-table__wrench {
  color: #6c6c6c;
}

.main-table__nav-trash,
.main-table__nav-filter {
  font-size: 2.8rem;
  color: #fff;
}

.main-table__nav-trash:hover {
  color: #cb1010;
}

.main-table__nav-filter:hover {
  color: #1c1caa;
}

.main-table__row {
  display: flex;
  width: 100%;
}

.main-table__down-rows {
  display: block;
}

.main-table__data {
  width: 100%;
  background: #fff;
  font-size: 1.6rem;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 3px;
  text-align: center;
  word-break: break-word;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #6c6c6c;
}

.main-table__data-span {
  padding: 5px;
  padding-top: 15px;
}

.main-table__bet-info {
  padding: 5px 0;
  width: 30%;
}

.main-table__teams-box {
  width: 70%;
}

.main-table__teams {
  font-weight: 600;
  padding-bottom: 5px;
}

.main-table__league {
  font-size: 1.4rem;
  color: #6c6c6c;
}

.main-table__id {
  padding: 10px 15px;
  border-radius: 5px;
}

.main-table__img {
  display: inline-block;
  width: 20px;
}

.main-table__title {
  font-size: 1.4rem;
  color: #6c6c6c;
  text-transform: capitalize;
  position: absolute;
  top: 5px;
  left: 5px;
}

.main-table__checkbox--del:checked ~ i {
  color: #cb1010;
}

.main-table__checkbox--add:checked ~ i {
  color: #396e50;
}

.main-table__add-table-button {
  background: linear-gradient(to right, #646485, #1c1caa);
  color: #fff;
}

.main-table__add-table-button:hover {
  background: linear-gradient(to right, #757596, #2d2dbb);
}

.main-table__valuebets-clock {
  padding: 5px 10px;
  display: block;
}

@media (min-width: 1050px) {
  .main-table__wrapper {
    padding: 0 50px;
  }

  .main-table__bet-wrapper {
    padding: 20px;
    box-shadow: 0 5px 10px #1b1b1b;
  }

  .main-table__inputs {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main-table__down-rows {
    display: flex;
  }
}
@media (min-width: 700px) {
  .main-table__nav-info {
    display: none;
  }

  .main-table__nav-info-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: unset;
    background: inherit;
    width: unset;
  }
  .main-table__nav-info-list span {
    padding-right: 10px;
  }
}
.main-table {
  height: 100%;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ededed, #cdcdcd, #ededed);
}

@media (min-width: 1050px) {
  .main-table {
    max-width: 900px;
  }
}
.filters {
  height: 100%;
  width: 250px;
  margin-left: 10px;
  z-index: 3;
  box-shadow: 0 5px 10px #6c6c6c;
}

@media (max-width: 1050px) {
  .filters {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .filters {
    position: fixed;
    right: -100%;
    top: 100px;
    height: 0;
    width: 100vw;
    transition: all 0.3s ease;
  }
}
.filters__header {
  display: block;
  padding-top: 5px;
  font-size: 1.8rem;
  font-weight: 600;
}

.filters__header--stat {
  padding-bottom: 5px;
  font-size: 1.6rem;
}

.filters__options {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100%;
  padding: 20px 0;
  background: #ededed;
  text-align: center;
  overflow: auto;
}

.filters__options-box {
  width: 100%;
}

.filters__stats {
  padding: 5px 25px;
  border-bottom: 1px solid #1c1caa;
}

.filters__box {
  font-size: 1.6rem;
  padding: 0 10px 5px 10px;
}

.filters__date-input {
  display: block;
  position: relative;
  width: 80%;
  background: #fff;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 3px #1c1caa;
  -webkit-appearance: none;
}

.filters__date-input::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.filters__date-separator {
  padding: 2px 0;
}

.filters__error {
  font-size: 1.4rem;
  padding: 5px 0;
}

.filters__submit {
  margin-top: 10px;
}

.filters__submit:hover {
  background: linear-gradient(to right, #757596, #2d2dbb);
}

.filters__value {
  width: 80%;
  display: block;
  padding: 5px;
  margin: auto;
  background: #1b1b1b;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 10px;
}

.filters__filters-wrapper {
  margin-bottom: 15px;
}

.filters__list-box {
  padding: 10px 0;
  border-bottom: 1px solid #1c1caa;
}

.filters__list {
  max-height: 0;
  overflow: hidden;
  font-size: 1.6rem;
  color: #6c6c6c;
}

.filters__list-option {
  display: block;
  padding: 3px 0;
  padding-left: 15px;
}
.filters__list-option label {
  display: flex;
  align-items: center;
}
.filters__list-option label:hover {
  cursor: pointer;
}
.filters__list-option input[type=checkbox] {
  display: none;
}
.filters__list-option input[type=checkbox]:checked ~ .filters__list-text > .filters__check-icon-box > i {
  display: block;
}
.filters__list-option input[type=checkbox]:checked ~ .filters__list-text > .filters__check-icon-box {
  background: #1c1caa;
}

.filters__check-icon-box {
  width: 17px;
  height: 17px;
  padding: 2px;
  margin-right: 5px;
  text-align: center;
  font-size: 1.4rem;
  background: #fff;
}

.filters__check-icon {
  color: #fff;
  display: none;
}

.filters__list-text {
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
}

.filters__list-header {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.filters__list-header:hover {
  cursor: pointer;
}

.filters__list-header-text {
  padding: 0 0 2px 10px;
}

.filters__list-caret {
  font-size: 2rem;
}

#filters-bets:checked ~ .filters__list,
#filters-sports:checked ~ .filters__list,
#filters-bookies:checked ~ .filters__list,
#filters-time:checked ~ .filters__list {
  max-height: 900%;
  padding-top: 5px;
}

#filters-bets:checked ~ label i::before,
#filters-sports:checked ~ label i::before,
#filters-bookies:checked ~ label i::before,
#filters-time:checked ~ label i::before {
  content: "\f0d7";
}

.filters__button {
  width: 70%;
  text-transform: unset;
  color: #fff;
  background: linear-gradient(to right, #646485, #1c1caa);
  font-size: 1.4rem;
  padding: 8px;
  border-radius: 10px;
}

.filters__button--filter {
  background: #5eb987;
  color: #fff;
}

.filters__button--unfilter {
  background: #fff;
  color: #1b1b1b;
}

.filters__iter {
  padding: 5px;
}

.filters__iter-num {
  font-weight: 600;
  border-left: 2px solid #ededed;
  border-right: 2px solid #ededed;
}

.filters__iter-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  color: #111;
  font-size: 1.6rem;
}
.filters__iter-wrapper span {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.filters__caret-down {
  margin-bottom: 10px;
}

.filters__caret:hover {
  color: #1c1caa;
}

.filters__select {
  color: #fff;
  background: linear-gradient(to right, #646485, #1c1caa);
  font-size: 1.4rem;
  padding: 8px;
  border-radius: 10px;
  text-align: left;
}
.filters__select option {
  color: black;
  background: #1c1caa;
  color: #fff;
}

.filters__select:hover,
.filters__select:focus {
  background: linear-gradient(to right, #757596, #2d2dbb);
}

.filters__sorting {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.filters__sorting-box {
  border-right: 1px solid #cdcdcd;
}

.filters__sorting-wrapper {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  padding: 0 20px 15px 0;
  text-align: left;
  border-radius: 10px;
}

.filters__sorting-wrapper:hover {
  cursor: pointer;
}

.filters__sorting-span {
  display: inline-block;
  width: 100%;
  padding: 7px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 2px #1c1caa;
  transition: all 0.2s ease;
}

.filters__sorting-span:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px #1c1caa;
}

.filters__sorting-caret-wrapper {
  font-size: 3.5rem;
  color: #fff;
}

.filters__sorting-caret:hover i {
  cursor: pointer;
  color: #1c1caa;
}

@media (max-width: 500px) {
  .filters__options {
    height: calc(100vh - 95px);
    border-radius: 10px;
    padding: 10px 0 40px 0;
  }

  .filters__options-box {
    width: 220px;
    box-shadow: 0px 5px 10px -2px #6c6c6c;
  }
}
.auth__input-box {
  padding: 5px 20px;
}
.auth__input-box input {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.8rem;
}

.auth__input {
  width: 100%;
  box-shadow: 0px 2px 5px #6c6c6c;
  transition: all 0.3s ease;
}

.auth__input:focus,
.auth__input:hover {
  box-shadow: 0px 5px 10px #1c1caa;
}

.auth__header {
  font-size: 2.8rem;
  font-weight: 600;
  padding: 0 20px;
}

.auth__header-left {
  color: #1c1caa;
  text-decoration: underline;
}

.auth__input-label {
  display: block;
  padding: 5px 5px;
}

.auth__button {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 15px;
  background: linear-gradient(to right, #646485, #1c1caa);
  color: #fff;
}

.auth__button:hover {
  background: linear-gradient(to right, #757596, #2d2dbb);
}

.auth__text {
  font-size: 1.6rem;
  margin-top: 15px;
  padding: 0px 20px;
}
.auth__text p {
  font-weight: 500;
}

.auth__error-box {
  padding-top: 10px;
  color: #cb1010;
}

.auth {
  width: 80%;
  max-width: 600px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  background: #ededed;
  box-shadow: 0px 2px 10px #6c6c6c;
  border-radius: 10px;
}

.add-bet {
  width: 90%;
  max-width: 900px;
  max-height: 100%;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  background: #ededed;
  box-shadow: 0px 2px 10px #6c6c6c;
  border-radius: 10px;
}

.add-bet__header {
  font-size: 2.4rem;
  font-weight: 600;
  color: #1c1caa;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #1c1caa;
}

.add-bet__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-bet__label-box {
  font-weight: 500;
  width: 30%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #1c1caa;
}

.add-bet__input-box {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-bet__input,
.add-bet__select,
.add-bet__result-li {
  width: 100%;
  min-width: 50px;
  max-width: 200px;
  text-align: center;
  color: #1b1b1b;
  background: #fff;
  font-size: 1.4rem;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.add-bet__date-input {
  display: block;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

.add-bet__date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: unset;
}

.add-bet__result-box {
  position: relative;
  width: 50%;
  max-width: 120px;
}

.add-bet__input:hover,
.add-bet__select:hover {
  box-shadow: 0px 3px 5px #1c1caa;
}

.add-bet__button {
  width: 50%;
  min-width: 100px;
  color: #fff;
  background: linear-gradient(to right, #646485, #1c1caa);
  font-size: 1.4rem;
  padding: 8px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}

.add-bet__button:hover {
  background: linear-gradient(to right, #757596, #2d2dbb);
}

.add-bet__error-box {
  width: 100%;
  color: #cb1010;
  text-align: center;
}

.add-bet__no-error-box {
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  width: 30%;
  color: #1c1caa;
}

.add-bet__result-list {
  position: absolute;
  width: 90%;
  left: 5%;
  max-height: 0;
  overflow: hidden;
  margin-top: 11px;
  transition: max-height 0.3s ease;
}

.add-bet__result-li {
  border-bottom: 1px solid #1c1caa;
}

@media (min-width: 500px) {
  .add-bet__label-box,
.add-bet__no-error-box {
    width: 45%;
  }

  .add-bet__input-box {
    width: 50%;
  }
}
.dashboard {
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  padding: 50px 20px;
  background: #ededed;
  box-shadow: 0 5px 10px #6c6c6c;
}

.dashboard__account-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 2px solid #1c1caa;
}

.dashboard__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.dashboard__account-info-box {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard__header {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 10px 0;
}

.dashboard__account-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard__account-input-box {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard__input-name {
  width: 20%;
  font-size: 1.6rem;
}

.dashboard__input {
  width: 60%;
  display: inline-block;
  padding: 5px 0;
  margin: 0 10px;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fff;
  text-align: center;
  border-radius: 5px;
}

.dashboard__input-edit {
  box-shadow: 0 2px 2px #1c1caa;
}

.dashboard__file-input {
  align-items: center;
}
.dashboard__file-input input {
  display: none;
}
.dashboard__file-input i {
  margin-right: 5px;
}

.dashboard__edit-button {
  padding: 5px;
  margin-bottom: 5px;
  background: #111;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard__edit-box {
  display: flex;
  flex-direction: column;
}

.dashboard__delete-form {
  text-align: center;
  margin-top: 10px;
}

.dashboard__delete-button,
.dashboard__button {
  cursor: pointer;
  margin-top: 5px;
  background: #cdcdcd;
  padding: 8px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.dashboard__delete-button {
  background: #cb1010;
  color: #fff;
}

.dashboard__button:hover,
.dashboard__button:active {
  background: #111;
  color: #fff;
}

.dashboard__stats {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #1c1caa;
}

.dashboard__stats-box {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #111;
}

.dashboard__stats-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

.dashboard__icon {
  width: 15px;
  margin-right: 5px;
}

.dashboard__stats-results-wrapper {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard__stats-results-box {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 5px;
  text-align: center;
}

.dashboard__stat-name {
  padding: 5px 0;
}

.dashboard__result {
  width: 100%;
  max-width: 100px;
  background: #111;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
}

.dashboard__result-return {
  max-width: 100%;
  background: #fff;
  color: #111;
  overflow-wrap: break-word;
}

@media (min-width: 500px) {
  .dashboard__avatar {
    width: 200px;
    height: 200px;
  }

  .dashboard__account-info {
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
  }

  .dashboard__account-info-box {
    max-width: 800px;
    padding-left: 20px;
  }
}
.form {
  background: linear-gradient(to bottom, #ededed, #cdcdcd, #ededed);
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200vh;
  padding: 10px;
  background: linear-gradient(to bottom, #ededed, #cdcdcd, #ededed);
}

@media (min-width: 1050px) {
  .main-section {
    height: 100vh;
  }
}
.tools {
  background: linear-gradient(to bottom, #ededed, #cdcdcd, #ededed);
  width: 100%;
  min-height: calc(100vh - 80px);
  padding: 30px;
}

.tools__box {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ededed;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #6c6c6c;
}
.tools__box p {
  line-height: 2.4rem;
  padding-bottom: 10px;
}

.tools__text-wrapper {
  padding: 20px;
}

.tools__text-header {
  color: #1c1caa;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.tools__calcs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 600px;
}

.tools__calc {
  background: #ededed;
  width: 100%;
  padding: 20px 15px 0 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #6c6c6c;
}

.tools__header {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1c1caa;
  padding-bottom: 10px;
}

.tools__calc-description {
  text-align: justify;
}

.tools__calc-header {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #1c1caa;
}

.tools__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.tools__inputs-headers,
.tools__inputs-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tools__input-header {
  font-size: 1.4rem;
  color: #6c6c6c;
  width: 30%;
  text-align: center;
  padding-bottom: 5px;
}

.tools__input {
  width: 30%;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 3px 5px -2px #1c1caa;
  border-radius: 5px;
}

.tools__result {
  padding-top: 30px;
}

.tools__input:hover,
.tools__input:focus {
  box-shadow: 0px 5px 10px -2px #1c1caa;
}

@media (min-width: 1050px) {
  .tools__box {
    align-items: flex-start;
  }

  .tools__text-wrapper {
    margin-bottom: 30px;
  }

  .tools__calcs-wrapper {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .tools__calc {
    width: 45%;
    min-height: 550px;
  }
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  background-image: url(/images/home.png?95b3e68adebdb4ac7d4aa465da08aee8);
}

.home__text-wrapper {
  margin-bottom: 60px;
  padding: 0 5px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.home__main-text {
  padding-bottom: 20px;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.home__main-text-green {
  color: #5eb987;
  opacity: 0.8;
}

.home__desc {
  padding-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 500;
}

.home__button a {
  display: block;
  background: linear-gradient(to right, #646485, #1c1caa);
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 25px;
  transition: background 0.3s ease;
}
.home__button a i {
  padding-right: 15px;
}

.home__button a:hover {
  cursor: pointer;
  background: linear-gradient(to right, #757596, #2d2dbb);
}

.email {
  background: linear-gradient(to bottom, #ededed, #cdcdcd, #ededed);
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-box {
  font-family: "Poppins", sans-serif;
  background: #ededed;
  min-height: 35vh;
  padding: 50px 10px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.email__header {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

.email__text-box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border: 2px solid;
  border-radius: 20px;
}

.email__small-header {
  font-size: 2.4rem;
  font-weight: 500;
  color: #1c1caa;
  margin-bottom: 10px;
}
.email__small-header i {
  padding-right: 5px;
}

.email__text {
  font-size: 1.8rem;
}
.email__text form {
  display: inline-block;
}

.email__info-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  background: unset;
  display: inline-block;
  color: #1c1caa;
  text-decoration: underline;
}

.email__info-link:hover {
  cursor: pointer;
}

.email__info {
  font-size: 1.8rem;
  color: #396e50;
  font-weight: 500;
  padding-top: 10px;
}

.footer {
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: #1b1b1b;
  color: #6c6c6c;
  align-items: center;
  justify-content: flex-start;
  border-top: 2px solid #6c6c6c;
}
.footer a {
  padding: 0 10px;
  color: #6c6c6c;
}
.footer a:hover {
  color: #fff;
}

.footer__top {
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.footer__top ul {
  flex-wrap: wrap;
}
.footer__top ul li {
  border-left: 1px solid #6c6c6c;
}
.footer__top ul li:nth-child(4) {
  border-right: 1px solid #6c6c6c;
}

.footer__bottom {
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
}
