@use '../../../../../config/colors';
@use '../../../../../config/breakpoints';
@use '../../../../../config/layers';
@use '../../../../fonts';

.nav-box {
    position: sticky;
    top: 80px;
    height: 60px;
    font-size: fonts.$medium;
    background: colors.$white1;
    box-shadow: 0 5px 10px colors.$grey2;
    padding: 10px 0px;
    z-index: layers.$nav-box-index;
}

@media (max-width: breakpoints.$tablets) {
    .nav-box {
        top: 60px;
        height: 40px;
    }
}
