@use '../../../../../fonts';
@use '../../../../../../config/colors';

.history-table__nav {
    padding: 5px 0px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: colors.$black;
    color: colors.$white-f;
    border-radius: 5px;
    font-size: fonts.$small;
    font-family: fonts.$poppins;
}

.history-table__nav-left {
}

.history-table__nav-right {
    font-size: fonts.$medium;
    width: 22%;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    span {
        padding: 10px 0;
        font-size: fonts.$v-small;
    }
}

.history-table__nav-trash {
    font-size: fonts.$v-large;
    color: colors.$white-f;
}

.history-table__nav-trash:hover {
    color: colors.$red;
}

.history-table__bet-wrapper {
    padding: 15px 0;
    box-shadow: 0 4px 3px -3px colors.$black;

}

.history-table__input {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.history-table__wrench {
    color: colors.$purple;
    font-size: fonts.$large;
}

.history-table__teams {
    font-weight: 600;
}
