@use '../../../../../mixins';
@use '../../../../../../config/colors';
@use '../../../../../../config/breakpoints';
@use '../../../../../../config/layers';
@use '../../../../../fonts';

.main-table__table {
    background: colors.$grey1;
    width: 100%;
    overflow: auto;
    text-align: center;
    border-radius: 10px;
    font-size: fonts.$small;
    a {
        color: colors.$purple;
    }

    a:hover {
        text-decoration: underline;
    }
}

.main-table__nav {
    margin: auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 30px;
    background: colors.$black;
    color: colors.$white-f;
    border-radius: 5px;
    font-size: fonts.$medium;
    font-family: fonts.$poppins;
    z-index: layers.$table-nav;

    span {
        padding: 5px 0;
        font-size: fonts.$small;
    }
}

.main-table__nav-left {
    display: flex;
    flex-direction: column;
}

.main-table__nav-right {
    width: 26%;
    font-size: fonts.$big;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-table__wrapper {
    width: 100%;
    height: 100%;
    background: colors.$grey1;
    box-shadow: 0 5px 5px colors.$grey-f;
}

.main-table__bets {
    height: calc(100% - 100px);
    overflow: auto;
}

.main-table__bet-wrapper {
    padding: 15px 10px;
    margin: 20px auto;
    box-shadow: 0 3px 5px colors.$black;
}

.main-table__inputs {
    margin: 0 5px;
    min-width: calc(25% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-table__input {
    background: none;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    color: colors.$white-f;
    font-size: fonts.$v-large;
}

.main-table__input:hover {
    cursor: pointer;
}

.main-table__wrench {
    color: colors.$grey-f;
}

.main-table__nav-trash,
.main-table__nav-filter {
    font-size: fonts.$nav-icon;
    color: colors.$white-f;
}

.main-table__nav-trash:hover {
    color: colors.$red;
}

.main-table__nav-filter:hover {
    color: colors.$purple;
}

.main-table__row {
    display: flex;
    width: 100%;
}

.main-table__down-rows {
    display: block;
}

.main-table__data {
    width: 100%;
    background: colors.$white-f;
    font-size: fonts.$small;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 3px;
    text-align: center;
    word-break: break-word;
    border-radius: 5px;
    box-shadow: 0px 2px 5px colors.$grey-f;
}

.main-table__data-span {
    padding: 5px;
    padding-top: 15px;
}

.main-table__bet-info {
    padding: 5px 0;
    width: 30%;
}

.main-table__teams-box {
    width: 70%;
}

.main-table__teams {
    font-weight: 600;
    padding-bottom: 5px;
}

.main-table__league {
    font-size: fonts.$v-small;
    color: colors.$grey-f;
}

.main-table__id {
    padding: 10px 15px;
    border-radius: 5px;
}

.main-table__img {
    display: inline-block;
    width: 20px;
}

.main-table__title {
    font-size: fonts.$v-small;
    color: colors.$grey-f;
    text-transform: capitalize;
    position: absolute;
    top: 5px;
    left: 5px;
}

.main-table__checkbox--del:checked ~ i {
    color: colors.$red;
}

.main-table__checkbox--add:checked ~ i {
    color: colors.$green;
}

.main-table__add-table-button {
    background: colors.$purple-gradient;
    color: colors.$white-f;
}

.main-table__add-table-button:hover {
    background: colors.$purple-hover-gradient;
}

.main-table__valuebets-clock {
    padding: 5px 10px;
    display: block;
}

@media (min-width: breakpoints.$tablets) {
    .main-table__wrapper {
        padding: 0 50px;
    }

    .main-table__bet-wrapper {
        padding: 20px;
        box-shadow: 0 5px 10px colors.$black;
    }

    .main-table__inputs {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .main-table__down-rows {
        display: flex;
    }
}
