@use '../../../../../../mixins';
@use '../../../../../../../config/colors';

.filters__button {
    width: 70%;
    text-transform: unset;
    @include mixins.button;
}

.filters__button--filter {
    background: colors.$light-green;
    color: colors.$white-f;
}

.filters__button--unfilter {
    background: colors.$white-f;
    color: colors.$black;
}

.filters__refresh-num {
    font-weight: 600;
    border-left: 2px solid colors.$grey1;
    border-right: 2px solid colors.$grey1;
}

.filters__refresh-wrapper {
    padding: 8px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: colors.$white-f;
    color: colors.$black1;

    span {
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
}

.filters__caret-down {
    margin-bottom: 10px;
}

.filters__caret {
    height: 15px;
    font-size: 24px;
    cursor: pointer;
    display: block;
    color: colors.$grey2;
}

.filters__caret:hover {
    color: colors.$black1;
}

.filters__select {
    @include mixins.button;
    text-align: left;
}

.filters__sorting {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}