@use '../../../fonts';
@use '../../../../config/colors';
@use '../../../../config/layers';
@use '../../../../config/breakpoints';



.nav {
    font-family: fonts.$poppins;
    height: 80px;
    background: colors.$black;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: layers.$header-index;

    ul {
        display: flex;
        
        i {
            padding-right: 10px;
        }

        li {
            margin: 0 10px;
        }
        
        a {
            color: colors.$white-f;
            font-weight: 500;
            font-size: fonts.$small;
            letter-spacing: 1px;
            padding: 6px 8px;
            border-radius: 5px;
        }
        
        a:hover {
            color: colors.$black;
            background: colors.$white-f;
        }
    }
}

@media (max-width: 950px) {
    .nav {
        ul {
            a:hover {
                color: colors.$light-green;
                background: none;
            }
        } 
    }
}