@use '../../../../../../../mixins';
@use '../../../../../../../../config/colors';
@use '../../../../../../../../config/breakpoints';
@use '../../../../../../../../config/layers';
@use '../../../../../../../fonts';

.main-table__table {
    background: colors.$grey1;
    width: 100%;
    overflow: auto;
    text-align: center;
    border-radius: 10px;
    font-size: fonts.$small;

    th, td {
        padding: 5px;
    }

    th {
        font-size: fonts.$small;
        text-transform: uppercase;
        border-bottom: 1px solid colors.$grey2;
        background: colors.$grey1;
        position: sticky;
        top: 0;
        z-index: layers.$th-index;
    }

    a {
        color: colors.$purple;
    }

    tr:nth-child(even) {
        background: colors.$white1;
    }

    a:hover {
        text-decoration: underline;
    }
}

.main-table__wrapper {
    height: calc(100% - 40px);
    overflow: auto;
    box-shadow: -5px 10px 10px colors.$grey2;
}

.main-table__button {
    width: 100%;
    @include mixins.button;
}

.main-table__button:hover {
    @include mixins.button-hover;
}

.main-table__checkbox--del:checked ~ span {
    background: colors.$pink;
}

.main-table__checkbox--add:checked ~ span {
    background: colors.$light-green;
}

.main-table__input {
    width: 100%;
    text-align: center;
    @include mixins.button(colors.$black, colors.$white-f);
}

.main-table__input:hover,
.main-table__input:focus {
    background: colors.$grey2;
}

.main-table__select {
    width: 100%;
    text-align: center;
    @include mixins.button;
    
}

.main-table__select:hover {
    @include mixins.button-hover;
}

.main-table__span {
    @include mixins.button(colors.$black, colors.$white-f);
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: breakpoints.$desktop-mid) {
    .main-table__img {
        display: inline-block;
        width: 20px;
    }

    .main-table__sport-span {
        display: none;
    }
}

@media (max-width: breakpoints.$phones) {
    .main-table__table {
        font-size: fonts.$v-small;
    }
}