@use '../../../../../config/breakpoints';
@use '../../../../../config/colors';
@use '../../../../../local/fonts';

.nav__label {
    color: colors.$white-f;
    cursor: pointer;

    i {
        font-size: fonts.$big;
    }
}

.nav__logo {
    font-size: fonts.$v-large;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 20px;

    a {
        color: colors.$light-green;
    }
}

.nav__first-logo {
    text-decoration: underline;
}

.nav__seclogo {
    color: colors.$white-f;
    font-size: fonts.$large;
}

.nav__wrapper {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__avatar {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

#nav__singup-button {
    background: colors.$green-gradient;
}

#nav__singup-button:hover {
    color: colors.$white-f;
}

.nav__logout-button {
    display: inline-block;
    color: colors.$white-f;
    padding: 6px 8px;
    background: colors.$black;
    font-weight: 500;
    font-size: fonts.$medium;
    font-family: fonts.$poppins;
    border-radius: 5px;
    letter-spacing: 1px;
}

.nav__logout-button:hover {
    color: colors.$black;
    background: colors.$white-f;
}

@media (max-width: breakpoints.$tablets) {
    .nav__logout-button {
        background: colors.$black1;
    }
}

@media (max-width: breakpoints.$tablets) and (min-width: breakpoints.$nav) {
    .nav__label--user {
        display: block;
        position: fixed;
        right: 20px;
    }

    .nav__right-nav {
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        background: colors.$black1;
        text-align: right;
        display: none;

        ul,
        li {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 5px;
        }
    }

    #user-check:checked ~ .nav__right-nav {
        display: block;
    }

    #user-check:checked ~ .nav__label i:before {
        content: '\f00d';
    }
}

@media (max-width: breakpoints.$nav) and (min-width: breakpoints.$phones) {
    .nav__label--nav {
        display: block;
        position: absolute;
        right: 20px;
    }

    .nav__wrapper {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        background: colors.$black1;
        display: none;
    }

    #nav-check:checked ~ .nav__wrapper {
        display: flex;
    }

    #nav-check:checked ~ .nav__label i::before {
        content: '\f00d';
    }
}

@media (max-width: breakpoints.$phones) {
    .nav__left-nav {
        padding-left: 0;
    }

    .nav__label--nav {
        display: block;
        position: absolute;
        right: 20px;
    }

    .nav__wrapper {
        display: block;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        height: 100vh;
        background: colors.$black1;
        text-align: center;
        left: -100%;
        transition: all 0.3s ease;

        ul {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
        }
    }

    .nav__logout-button {
        background: colors.$black1;
    }

    #nav-check:checked ~ .nav__wrapper {
        left: 0;
    }

    #nav-check:checked ~ .nav__label i::before {
        content: '\f00d';
    }
}
