@use '../../../../config/colors';
@use '../../../../config/layers';
@use '../../../../config/breakpoints';


.filters {
    height: calc(100% - 40px);
    background: colors.$grey-gradient;
    z-index: layers.$filters-index;
}
