@use '../../../../../config/breakpoints';
@use '../../../../../config/colors';

.main-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200vh;
    padding: 10px;
    background: colors.$grey-gradient;
}

@media (min-width: breakpoints.$tablets) {
    .main-section {
        height: 100vh;
    }
}