@use '../../../../../../fonts';
@use '../../../../../../../config/colors';
@use '../../../../../../../config/breakpoints';
@use '../../../../../../mixins';

.filters__header {
    display: block;
    padding-top: 5px;
    font-size: fonts.$medium;
    font-weight: 600;
}

.filters__header--stat {
    padding-bottom: 5px;;
    font-size: fonts.$small;
}

.filters__options {
    text-align: center;
    border-top: 2px solid colors.$grey2;
    max-height: calc(100vh - 110px);
    overflow: auto;

}

.filters__stats {
    padding: 10px 30px;
    border-bottom: 2px solid colors.$grey2;
}

.filters__wrapper {
    width: 220px;
    height: 40px;
    font-size: fonts.$large;
    text-align: center;
    padding: 5px;
}

@media (max-width: breakpoints.$desktop-mid) {
    .filters__options {
        position: fixed;
        right: -100%;
        top: 120px;
        width: 220px;
        background: colors.$grey1;
        transition: all 0.3s ease;
    }

    .filters__wrapper {
        display: block;
        position: fixed;
        top: 80px;
        right: 50px;
                
        i {
            display: inline-block;
            cursor: pointer;
        }
    }

    #stat-check:checked ~ .filters__wrapper i  {
        transform: rotate(180deg) translateZ(0);
        transition: all 0.8s ease;
    }

    #stat-check:not(:checked) ~ .filters__wrapper i  {
        transform: rotate(0deg) translateZ(0);
        transition: all 0.8s ease;
    }
    #stat-check:checked ~ .filters__options {
        right: 0;
    }
}