/*BACKGROUND*/
$white1: #f7f7f7;
$grey1: #ededed;
$grey2: #cdcdcd;
$black: #1b1b1b;
$black1: #111;
$light-green: #5eb987;
$pink: #dd968e;

/*FONT (fc - font color)*/
$purple: #1c1caa;
$white-f: #fff;
$grey-f: #6c6c6c;
$green: #2d9129;
$red: #cb1010;
$gold: #a38b00;


//gradients
$grey-gradient: linear-gradient(to bottom, #ededed, #cdcdcd, #ededed);
$purple-gradient: linear-gradient(to right ,#646485, #1c1caa);
$green-gradient: linear-gradient(to left, #5eb987, #396e50);
$green1-gradient: linear-gradient(#ededed, #288545);
$red-gradient: linear-gradient(#ededed, #fa9f9c);

$purple-hover-gradient: linear-gradient(to right ,#757596, #2d2dbb);