@use '../../../../../mixins';
@use '../../../../../../config/colors';
@use '../../../../../fonts';

.add-bet {
    width: 90%;
    max-width: 900px;
    max-height: 100%;
    @include mixins.post-form;
}