@use '../../../../../mixins';
@use '../../../../../../config/colors';
@use '../../../../../../config/breakpoints';
@use '../../../../../../config/layers';
@use '../../../../../fonts';

.main-table__table {
    background: colors.$grey1;
    width: 100%;
    overflow: auto;
    text-align: center;
    border-radius: 10px;
    font-size: fonts.$small;

    th, td {
        padding: 5px;
    }

    th {
        font-size: fonts.$small;
        text-transform: uppercase;
        border-bottom: 1px solid colors.$grey2;
        background: colors.$grey1;
        position: sticky;
        top: 0;
        z-index: layers.$th-index;
    }

    a {
        color: colors.$purple;
    }

    tr:nth-child(even) {
        background: colors.$white1;
    }

    a:hover {
        text-decoration: underline;
    }
}

.main-table__wrapper {
    height: 100%;
    overflow: auto;
    box-shadow: -5px 10px 10px colors.$grey2;
}

.main-table__button {
    width: 100%;
    @include mixins.button;
}

.main-table__button:hover {
    @include mixins.button-hover;
}

.main-table__checkbox--del:checked ~ span {
    background: colors.$pink;
}

.main-table__checkbox--add:checked ~ span {
    background: colors.$light-green;
}

.main-table__input {
    width: 100%;
    text-align: center;
    @include mixins.button(colors.$black, colors.$white-f);
}

.main-table__input:hover,
.main-table__input:focus {
    background: colors.$grey2;
}

.main-table__select {
    width: 100%;
    text-align: center;
    @include mixins.button;
}

.main-table__select:hover {
    @include mixins.button-hover;
}

.main-table__span {
    @include mixins.button(colors.$black, colors.$white-f);
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-table__span:hover {
    box-shadow: 0px 2px 5px colors.$black;
}

.main-table__add-table {
    table-layout: fixed;

    th:nth-child(-n+4) {
        width: 10%;
    }
    
    th:nth-child(5) {
        width: 25%;
    }

    th:nth-child(6) {
        width: 10%;
    }
}

.main-table__add-table-button {
    background: colors.$purple-gradient;
    color: colors.$white-f;
}

.main-table__add-table-button:hover {
    background: colors.$purple-hover-gradient;
}

.main-table__valuebets-clock {
    padding: 5px 10px;
    display: block;
}

.main-table__iter-span {
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0px 2px 3px colors.$black;
}

@media (max-width: breakpoints.$desktop-mid) {
    .main-table {
        width: 100%;
    }

    .main-table__img {
        display: inline-block;
        width: 20px;
    }

    .main-table__sport-span {
        display: none;
    }

    .main-table__history-table {
        th:nth-child(10),
        td:nth-child(10) {
            display: none;
        }
    }

    .main-table__delete-button {
        width: 25%;
        max-width: 150px;
        display: block;
        position: fixed;
        top: 88px;
        right: 20px;
        z-index: layers.$button-index;      
    }

    .main-table__valuebets-table {
        th {
            display: none;
            padding: 0;
            border-bottom: none;
        }

        th:nth-child(9) {
            display: block;
        }
        
        tbody {
            tr {
                padding: 10px 0;
                align-items: center;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                border-bottom: 1px solid colors.$black;
            }
            td:nth-child(1) {
                grid-column: 4/5;
                grid-row: 3/4;
            }
            td:nth-child(2) {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            td:nth-child(3) {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            td:nth-child(4) {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            td:nth-child(5) {
                grid-column: 1/4;
                grid-row: 3/4;
                font-weight: 600;
            }
            td:nth-child(6) {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            td:nth-child(7) {
                grid-column: 3/4;
                grid-row: 1/2;
            }
            td:nth-child(8) {
                grid-column: 3/4;
                grid-row: 2/3;
            }
            td:nth-child(9) {
                grid-column: 4/5;
                grid-row: 1/3;
                border-left: 1px solid colors.$grey2;
            }
        }
    }

    .main-table__valuebets-span {
        width: 70%;
        padding: 5px;
    }
}

@media (max-width: breakpoints.$desktop-small) {
    .main-table__history-table {
        th {
            display: none;
            border-bottom: none;
        }

        th:nth-child(12) {
            display: block;
        }

        tbody {
            tr {
                padding-top: 10px; 
                align-items: center;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                border-bottom: 1px solid colors.$black;
            }

            td:nth-child(1) {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            td:nth-child(2) {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            td:nth-child(3) {
                grid-column: 1/2;
                grid-row: 3/4;
            }

            td:nth-child(4) {
                grid-column: 2/3;
                grid-row: 2/3;
            }

            td:nth-child(5) {
                grid-column: 1/4;
                grid-row: 4/5;
                padding: 10px 0;
            }

            td:nth-child(6) {
                grid-column: 2/3;
                grid-row: 3/4;
            }

            td:nth-child(7) {
                grid-column: 3/4;
                grid-row: 2/3;
            }

            td:nth-child(11) {
                grid-column: 3/4;
                grid-row: 3/4;
            }

            td:nth-child(9) {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            td:nth-child(8) {
                grid-column: 3/4;
                grid-row: 1/2;
                border-right: 1px solid colors.$grey2;
            }

            td:nth-child(12) {
                grid-column: 4/5;
                grid-row: 2/3;
                height: 100%;
                border-left: 1px solid colors.$grey2;
            }

            td:nth-child(13) {
                height: 100%;
                grid-column: 4/5;
                grid-row: 3/4;
                border-left: 1px solid colors.$grey2;
            }
        }
    }

    .main-table__history-button {
        @include mixins.desk-mid-button;
    }

    .main-table__history-span {
        @include mixins.desk-mid-button;
    }
}

@media (max-width: breakpoints.$tablets) {
    .main-table__add-table {
        select, input[type="submit"] {
            width: 70%;
        }

        input {
            width: 100%;
        };
    }
}