@use '../../../../../config/colors';
@use '../../../../../config/layers';
@use '../../../../../config/breakpoints';


.filters {
    height: 100%;
    width: 210px;
    background: colors.$grey2;
    z-index: layers.$filters-index;
}