@use '../../../../../config/colors';
@use '../../../../../config/layers';
@use '../../../../../config/breakpoints';


.filters {
    height: 100%;
    width: 250px;
    margin-left: 10px;
    z-index: layers.$filters-index;
    box-shadow: 0 5px 10px #6c6c6c;
}

@media (max-width: breakpoints.$tablets) {
    .filters {
        width: 200px;
    }
}

@media (max-width: breakpoints.$phones) {
    .filters {
        position: fixed;
        right: -100%;
        top: 100px;
        height: 0;
        width: 100vw;
        transition: all 0.3s ease;
    }
}