@use '../../../../../config/breakpoints';
@use '../../../../../config/colors';
@use '../../../../../local/fonts';

.nav__label {
    color: colors.$white-f;
    cursor: pointer;

    i {
        font-size: fonts.$big;
    }
}

.nav__left-nav {
    padding-left: 100px;
}

.nav__logo {
    font-size: fonts.$v-large;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    a {
        color: colors.$light-green;
    }
}

.nav__seclogo {
    color: colors.$white-f;
    font-size: fonts.$large;
}

.nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav__singup-button {
    //background: colors.$purple-gradient;
    background: colors.$green-gradient;
}

#nav__singup-button:hover {
    //background: colors.$purple-hover-gradient;
    color: colors.$white-f;
}

.nav__logout-button {
    display: inline-block;
    color: colors.$white-f;
    padding: 6px 8px;
    background: colors.$black;
    font-weight: 500;
    font-size: fonts.$medium;
    font-family: fonts.$poppins;
    border-radius: 5px;
    letter-spacing: 1px;
}

.nav__logout-button:hover {
    color: colors.$black;
    background: colors.$white-f;
}

@media (max-width: breakpoints.$tablets) {
    .nav__left-nav {
        padding-left: 0;
    }

    .nav__label--nav {
        display: block;
        position: fixed;
        right: 50px;
    }

    .nav__wrapper {
        display: block;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        height: 100vh;
        background: colors.$black1;
        text-align: center;
        left: -100%;
        transition: all 0.3s ease;

        ul {
            display: block;
            padding: 20px 0;
        }

        li {
            padding: 10px 0;
        }
    }

    #nav-check:checked ~ .nav__wrapper {
        left: 0;
    }

    #nav-check:checked ~ .nav__label i:before {
        content: "\f00d";
    }
}

@media (max-width: breakpoints.$desktop-small) {
    .nav__logout-button {
        background: colors.$black1;
    }
}

@media (max-width: breakpoints.$desktop-small) and (min-width: breakpoints.$tablets) {
    .nav__label--user {
        display: block;
    }

    .nav__right-nav {
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        background: colors.$black1;
        text-align: right;
        display: none;

        ul,
        li {
            display: block;
            padding: 5px;
        }
    }

    #user-check:checked ~ .nav__right-nav {
        display: block;
    }

    #user-check:checked ~ .nav__label i:before {
        content: "\f00d";
    }
}
