@use '../../../../../fonts';
@use '../../../../../../config/colors';
@use '../../../../../../config/breakpoints';
@use '../../../../../mixins';

.filters__header {
    display: block;
    padding-top: 5px;
    font-size: fonts.$medium;
    font-weight: 600;
}

.filters__header--stat {
    padding-bottom: 5px;
    font-size: fonts.$small;
}

.filters__options {
    background: colors.$grey-gradient;
    text-align: center;
    border-top: 2px solid colors.$grey2;
    max-height: calc(100vh - 110px);
    overflow: auto;
}

.filters__stats {
    padding: 5px 25px;
    border-bottom: 1px solid colors.$purple;
}

.filters__box {
    padding: 0 10px 5px 10px;
}

.filters__date-input {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    font-size: fonts.$v-small;
    padding: 5px;
    height: 35px;
}

.filters__date-error {
    font-size: fonts.$v-small;
    padding: 5px 0;
}

.filters__submit {
    margin-top: 10px;
}

.filters__submit:hover {
    background: colors.$purple-hover-gradient;
}

.filters__value {
    display: block;
    padding: 5px;
    margin: auto;
    background: colors.$black;
    color: colors.$white-f;
    font-size: fonts.$small;
    border-radius: 10px;
}

.filters__list-wrapper {
    margin-bottom: 15px;
    border-radius: 5px;
}

.filters__list-box {
    padding: 10px 0;
    border-bottom: 1px solid colors.$purple;
}

.filters__list {
    max-height: 0;
    overflow: hidden;
    padding-left: 15px;
    font-size: fonts.$small;
    color: colors.$grey-f;
}

.filters__list-option {
    display: block;
    padding: 3px 0;

    label {
        display: flex;
        align-items: center;
    }

    label:hover {
        cursor: pointer;
    }

    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox']:checked ~ .filters__list-text > .filters__check-icon-box > i{
        display: block;
    }

    input[type='checkbox']:checked ~ .filters__list-text > .filters__check-icon-box {
        background: colors.$purple;
    }
}

.filters__check-icon-box {
    width: 17px;
    height: 17px;
    padding: 1px;
    margin-right: 5px;
    text-align: center;
    font-size: fonts.$v-small;
    background: colors.$white-f;
}

.filters__check-icon {
    color: colors.$white-f;
    display: none;
}

.filters__list-text {
    display: flex;
    align-items: flex-end;
    padding-left: 5px;
}

.filters__list-header {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: fonts.$small;
}

.filters__list-header:hover {
    cursor: pointer;
}

.filters__list-header-text {
    padding: 0 0 5px 10px;
}

.filters__list-caret {
    font-size: fonts.$big;
}

#filters-bets:checked ~ .filters__list {
    max-height: 500%;
}

#filters-bets:checked ~ label i::before {
    content: '\f0d7';
}

#filters-sports:checked ~ .filters__list {
    max-height: 500%;
}

#filters-sports:checked ~ label i::before {
    content: '\f0d7';
}

.filters__button {
    width: 70%;
    text-transform: unset;
    @include mixins.button(colors.$white-f, colors.$purple-gradient);
}

.filters__button--filter {
    background: colors.$light-green;
    color: colors.$white-f;
}

.filters__button--unfilter {
    background: colors.$white-f;
    color: colors.$black;
}

.filters__refresh-num {
    font-weight: 600;
    border-left: 2px solid colors.$grey1;
    border-right: 2px solid colors.$grey1;
}

.filters__refresh-wrapper {
    padding: 8px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: colors.$white-f;
    color: colors.$black1;
    font-size: fonts.$small;

    span {
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
}

.filters__caret-down {
    margin-bottom: 10px;
}

.filters__caret:hover {
    color: colors.$purple;
}

.filters__select {
    @include mixins.button(colors.$white-f, colors.$purple-gradient);
    text-align: left;

    option {
        color: black;
        background: colors.$purple;
        color: colors.$white-f;
    }
}

.filters__select:hover,
.filters__select:focus {
    background: colors.$purple-hover-gradient;
}

.filters__sorting {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.filters__sorting-box {
    border-right: 1px solid colors.$grey2;
}

.filters__sorting-wrapper {
    font-size: fonts.$v-small;
    font-family: fonts.$lato;
    padding: 0 20px 15px 0;
    text-align: left;
    border-radius: 10px;
}

.filters__sorting-wrapper:hover {
    cursor: pointer;
}

.filters__sorting-span {
    display: inline-block;
    width: 100%;
    padding: 7px;
    text-align: center;
    background: colors.$white-f;
    border-radius: 10px;
    box-shadow: 0px 6px 2px colors.$purple;
    transition: all 0.2s ease;
}

.filters__sorting-span:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px colors.$purple;
}

.filters__sorting-caret-wrapper {
    font-size: fonts.$caret;
    color: colors.$white-f;
}

.filters__sorting-caret:hover {
    i {
        cursor: pointer;
        color: colors.$purple;
    }
}

@media (max-width: breakpoints.$tablets) {
    .filters {
        position: fixed;
        right: -100%;
        height: 0;
        transition: all 0.3s ease;
    }
}
