/*BACKGROUND*/
$white1: #f7f7f7;
$grey1: #ededed;
$grey2: #cdcdcd;
$black: #1b1b1b;
$black1: #111;
$light-green: #5eb987;
$pink: #dd968e;

/*FONT (fc - font color)*/
$purple: #1c1caa;
$white-f: #fff;
$grey-f: #6c6c6c;
$green: #396e50;
$red: #cb1010;
$gold: #a38b00;


//gradients
$grey-gradient: linear-gradient(to bottom, #ededed, #cdcdcd, #ededed);
$purple-gradient: linear-gradient(to right ,#646485, #1c1caa);
$green-gradient: linear-gradient(to left, #5eb987, #396e50);
$green1-gradient: linear-gradient(to right, #f7f7f7, #a1bdad, #f7f7f7);
$red-gradient: linear-gradient(to left, #b64545, #d6b8b8);
$red1-gradient: linear-gradient(to right, #ededed, #d19a9a, #ededed);

$purple-hover-gradient: linear-gradient(to right ,#757596, #2d2dbb);