@use '../../../../../mixins';
@use '../../../../../../config/colors';
@use '../../../../../fonts';
@use '../../../../../../config/breakpoints';

//Account information
.dashboard__account-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 2px solid colors.$purple;
}

.dashboard__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.dashboard__account-info-box {
    font-size: fonts.$small;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__header {
    font-size: fonts.$large;
    font-weight: 500;
    padding: 10px 0;
}

.dashboard__account-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__account-input-box {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboard__input-name {
    width: 20%;
    font-size: fonts.$small;
}

.dashboard__input {
    width: 60%;
    display: inline-block;
    padding: 5px 0;
    margin: 0 10px;
    font-size: fonts.$small;
    font-family: fonts.$poppins;
    background: colors.$white-f;
    text-align: center;
    border-radius: 5px;
}

.dashboard__input-edit {
    box-shadow: 0 2px 2px colors.$purple;
}

.dashboard__file-input {
    align-items: center;
    input {
        display: none;
    }

    i {
        margin-right: 5px;
    }
}

.dashboard__edit-button {
    padding: 5px;
    margin-bottom: 5px;
    background: colors.$black1;
    color: colors.$white-f;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard__edit-box {
    display: flex;
    flex-direction: column;
}

.dashboard__delete-form {
    text-align: center;
    margin-top: 10px;
}

.dashboard__delete-button,
.dashboard__button {
    cursor: pointer;
    margin-top: 5px;
    background: colors.$grey2;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.dashboard__delete-button {
    background: colors.$red;
    color: colors.$white-f;
}

.dashboard__button:hover,
.dashboard__button:active {
    background: colors.$black1;
    color: colors.$white-f;
}

//Bets statistics
.dashboard__stats {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid colors.$purple;
}

.dashboard__stats-box {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 colors.$black1;
}

.dashboard__stats-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: colors.$white-f;
    font-size: fonts.$medium;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;
}

.dashboard__icon {
    width: 15px;
    margin-right: 5px;
}

.dashboard__stats-results-wrapper {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard__stats-results-box {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: fonts.$small;
    padding: 5px;
    text-align: center;
}

.dashboard__stat-name {
    padding: 5px 0;
}

.dashboard__result {
    width: 100%;
    max-width: 100px;
    background: colors.$black1;
    color: colors.$white-f;
    padding: 2px;
    border-radius: 5px;
}

.dashboard__result-return {
    max-width: 100%;
    background: colors.$white-f;
    color: colors.$black1;
    overflow-wrap: break-word;
}

@media (min-width: breakpoints.$phones) {
    .dashboard__avatar {
        width: 200px;
        height: 200px;
    }

    .dashboard__account-info {
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
    }

    .dashboard__account-info-box {
        max-width: 800px;
        padding-left: 20px;
    }
}
