@use '../../../../../fonts';
@use '../../../../../../config/breakpoints';
@use '../../../../../../config/colors';

.nav-box__box-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.nav-box__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.nav-box__timer,
.nav-box__counter {
    font-size: fonts.$medium;
    padding-right: 10px;
}

.nav-box__message {
    font-size: fonts.$small;
    position: relative;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
        margin-top: 4px;
        font-size: 2.7rem;
    }

    .fa-check {
        color: colors.$green;
    }

    .fa-xmark {
        color: colors.$red;
    }
}

.nav-box__message:hover {
    cursor: pointer;
}

.nav-box__message-text {
    position: absolute;
    padding: 8px;
    width: 100px;
    top: 35px;
    text-align: center;
    background: colors.$purple;
    color: colors.$white-f;
    border-radius: 5px;
}

.nav-box__message-text::before {
    position:absolute;
    content: '';
    height: 15px;
    width: 15px;
    top: -7px;
    left: 43px;
    transform: rotate(45deg);
    background: inherit;
}

.nav-box__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-box__filters-icon {
    font-size: 2.2rem;
    display: block;
}

@media (min-width: breakpoints.$tablets) {
    .nav-box__box-wrapper {
        max-width: calc(100% - 200px);
        width: 87%;
    }

    .nav-box__box {
        padding-left: 75px;
    }
}

@media (min-width: breakpoints.$phones) {
    .nav-box__filters-icon {
        display: none;
    }

    .nav-box__box {
        justify-content: flex-start;
    }

    .nav-box__message {
        padding-left: 0;
    }
}
