@use '../../../../../config/colors';
@use '../../../../../config/breakpoints';

.main-table {
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    background: colors.$grey-gradient;
}

@media (min-width: breakpoints.$tablets) {
    .main-table {
        max-width: 900px;
    }
}