@use '../config/breakpoints';

.main {
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 240px;
    min-height: 0;
    min-width: 0;
}

.nav-box {
    grid-column: 1/3;
}

@media (max-width: breakpoints.$desktop-mid) {
    .main-table {
        grid-column: 1/3;
    }   
}